---
import { getBreadcrumbList } from "@/utils/breadcrumb";

const breadcrumbList = getBreadcrumbList(Astro.url.pathname);
---

<nav class="app-layout mt-8 mb-2" aria-label="breadcrumb">
  <ul
    class="font-code text-xs tracking-[0.08em] text-graphite [&>li]:inline [&>li:not(:last-child)>a]:hover:text-foreground"
  >
    <li>
      <a href="/">Home</a>
      <span aria-hidden="true" class="mx-1">/</span>
    </li>
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
          <li>
            <span
              class:list={["capitalize", { lowercase: index > 0 }]}
              aria-current="page"
            >
              {/* make the last part lowercase in Home > Tags > some-tag */}
              {decodeURIComponent(breadcrumb)}
            </span>
          </li>
        ) : (
          <li>
            <a href={`/${breadcrumb}/`} class="capitalize">
              {breadcrumb}
            </a>
            <span aria-hidden="true" class="mx-1">
              /
            </span>
          </li>
        )
      )
    }
  </ul>
</nav>
