---
import type { HTMLAttributes } from "astro/types";

type Props = {
  disabled?: boolean;
  disableHoverOpacity?: boolean;
} & HTMLAttributes<"a">;

const {
  disabled,
  disableHoverOpacity,
  class: className,
  ...attrs
} = Astro.props;

const Button = disabled ? "span" : "a";
---

<Button
  aria-disabled={disabled}
  class:list={[
    "group inline-flex items-center gap-1",
    { "hover:opacity-70": !disabled && !disableHoverOpacity },
    className,
  ]}
  {...attrs}
>
  <slot />
</Button>
