---
type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "sketch-chip inline-flex items-center px-3 py-1 transition hover:bg-muted/70",
      { "text-sm": size === "sm" },
      { "text-lg": size === "lg" },
    ]}
  >
    #{tagName}
  </a>
</li>
